@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Rubik:ital,wght@1,900&display=swap");
@import "reset.css";
@import "variable.css";
@import "welcome-header.css";
/*Components*/
@import "component/nav.css";
@import "component/status-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/badge.css";
@import "component/icon-row.css";
@import "component/alt-screen-header.css";
@import "component/no-mobile.css";
/*Screens*/
@import "screens/friends.css";
@import "screens/login.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
